h2 {
   text-decoration-line: underline;

}

.download {
    background-color: red;
}

body {
    background-image: url("/");
    background-color: whitesmoke;
   }

.Family {
    width: 45%;
    max-width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 25%
}

.profile-pic {
    width: 30%;
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    border-radius: 25%
}

.card {

    margin-left: auto;
    margin-right: auto;
}

.card-img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (width <= 800px ){
    .profile-pic {
        width: 60%
    }
}

